# Dependency directories
node_modules/

# Build outputs
dist/

# Cache directories
.npm
.eslintcache

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 